.elementor-17 .elementor-element.elementor-element-965124d:not(.elementor-motion-effects-element-type-background),
.elementor-17 .elementor-element.elementor-element-965124d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2022/04/crypt.jpg");
}

.elementor-17 .elementor-element.elementor-element-965124d>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.93;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-965124d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
}

.elementor-17 .elementor-element.elementor-element-1190579e {
    --spacer-size: 71px;
}

.elementor-17 .elementor-element.elementor-element-7c4b04b9 {
    text-align: left;
}

.elementor-17 .elementor-element.elementor-element-7c4b04b9 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.elementor-17 .elementor-element.elementor-element-66a5f8cb .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    line-height: 1.4em;
}

.elementor-17 .elementor-element.elementor-element-3f20a2f5 .elementor-button {
    background-color: #61CE7000;
    border-style: solid;
    border-color: #0AD5FA;
    border-radius: 1px 1px 1px 1px;
}

.elementor-17 .elementor-element.elementor-element-652a13c6 {
    --lottie-container-width: 59%;
}

.elementor-17 .elementor-element.elementor-element-5bf8457e:not(.elementor-motion-effects-element-type-background),
.elementor-17 .elementor-element.elementor-element-5bf8457e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-17 .elementor-element.elementor-element-5bf8457e {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.97);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-17 .elementor-element.elementor-element-5bf8457e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-3bd5bd88 {
    text-align: center;
}

.elementor-17 .elementor-element.elementor-element-3bd5bd88 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-3bd5bd88>.elementor-widget-container {
    padding: 50px 0px 0px 0px;
}

.elementor-17 .elementor-element.elementor-element-274f686 {
    --divider-border-style: solid;
    --divider-color: #FFFFFF;
    --divider-border-width: 1.6px;
}

.elementor-17 .elementor-element.elementor-element-274f686 .elementor-divider-separator {
    width: 11%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-17 .elementor-element.elementor-element-274f686 .elementor-divider {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-17 .elementor-element.elementor-element-274f686>.elementor-widget-container {
    margin: -15px 0px 0px 0px;
}

.elementor-17 .elementor-element.elementor-element-3ea6715c:not(.elementor-motion-effects-element-type-background),
.elementor-17 .elementor-element.elementor-element-3ea6715c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-17 .elementor-element.elementor-element-3ea6715c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 30px 0px 0px 0px;
}

.elementor-17 .elementor-element.elementor-element-3ea6715c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-290b3c01>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
}

.elementor-17 .elementor-element.elementor-element-290b3c01>.elementor-element-populated,
.elementor-17 .elementor-element.elementor-element-290b3c01>.elementor-element-populated>.elementor-background-overlay,
.elementor-17 .elementor-element.elementor-element-290b3c01>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-17 .elementor-element.elementor-element-290b3c01>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-290b3c01>.elementor-element-populated>.elementor-widget-wrap {
    padding: 20px 0px 20px 30px;
}

.elementor-17 .elementor-element.elementor-element-33030848 {
    --lottie-container-width: 47%;
}

.elementor-17 .elementor-element.elementor-element-4968a953 {
    text-align: center;
}

.elementor-17 .elementor-element.elementor-element-4968a953 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 23px;
    font-weight: 500;
}

.elementor-17 .elementor-element.elementor-element-689638e6 {
    text-align: center;
    color: #E9E6E6;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-17 .elementor-element.elementor-element-3d6430b2 .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 15px 15px 15px 15px;
}

.elementor-17 .elementor-element.elementor-element-cdb88b2.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-17 .elementor-element.elementor-element-cdb88b2>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
}

.elementor-17 .elementor-element.elementor-element-cdb88b2>.elementor-element-populated,
.elementor-17 .elementor-element.elementor-element-cdb88b2>.elementor-element-populated>.elementor-background-overlay,
.elementor-17 .elementor-element.elementor-element-cdb88b2>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-17 .elementor-element.elementor-element-cdb88b2>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-cdb88b2>.elementor-element-populated>.elementor-widget-wrap {
    padding: 20px 0px 20px 30px;
}

.elementor-17 .elementor-element.elementor-element-232db456 {
    --lottie-container-width: 47%;
}

.elementor-17 .elementor-element.elementor-element-158101f5 {
    text-align: center;
}

.elementor-17 .elementor-element.elementor-element-158101f5 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 23px;
    font-weight: 500;
}

.elementor-17 .elementor-element.elementor-element-33d09e79 {
    text-align: center;
    color: #E9E6E6;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-17 .elementor-element.elementor-element-4a470d39 .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 15px 15px 15px 15px;
}

.elementor-17 .elementor-element.elementor-element-7106465d>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
}

.elementor-17 .elementor-element.elementor-element-7106465d>.elementor-element-populated,
.elementor-17 .elementor-element.elementor-element-7106465d>.elementor-element-populated>.elementor-background-overlay,
.elementor-17 .elementor-element.elementor-element-7106465d>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-17 .elementor-element.elementor-element-7106465d>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-7106465d>.elementor-element-populated>.elementor-widget-wrap {
    padding: 20px 0px 20px 30px;
}

.elementor-17 .elementor-element.elementor-element-30229702 {
    --lottie-container-width: 47%;
}

.elementor-17 .elementor-element.elementor-element-10b32913 {
    text-align: center;
}

.elementor-17 .elementor-element.elementor-element-10b32913 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 23px;
    font-weight: 500;
}

.elementor-17 .elementor-element.elementor-element-520ed98a {
    text-align: center;
    color: #E9E6E6;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-17 .elementor-element.elementor-element-308e0e74 .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 15px 15px 15px 15px;
}

.elementor-17 .elementor-element.elementor-element-c4c84a>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
}

.elementor-17 .elementor-element.elementor-element-c4c84a>.elementor-element-populated,
.elementor-17 .elementor-element.elementor-element-c4c84a>.elementor-element-populated>.elementor-background-overlay,
.elementor-17 .elementor-element.elementor-element-c4c84a>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-17 .elementor-element.elementor-element-c4c84a>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-c4c84a>.elementor-element-populated>.elementor-widget-wrap {
    padding: 20px 0px 20px 30px;
}

.elementor-17 .elementor-element.elementor-element-5ee7b43a {
    --lottie-container-width: 47%;
}

.elementor-17 .elementor-element.elementor-element-5b37b025 {
    text-align: center;
}

.elementor-17 .elementor-element.elementor-element-5b37b025 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 23px;
    font-weight: 500;
}

.elementor-17 .elementor-element.elementor-element-2d436099 {
    text-align: center;
    color: #E9E6E6;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-17 .elementor-element.elementor-element-26316ae5 .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 15px 15px 15px 15px;
}

.elementor-17 .elementor-element.elementor-element-3569ba4a>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
}

.elementor-17 .elementor-element.elementor-element-3569ba4a>.elementor-element-populated,
.elementor-17 .elementor-element.elementor-element-3569ba4a>.elementor-element-populated>.elementor-background-overlay,
.elementor-17 .elementor-element.elementor-element-3569ba4a>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-17 .elementor-element.elementor-element-3569ba4a>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-3569ba4a>.elementor-element-populated>.elementor-widget-wrap {
    padding: 20px 0px 20px 30px;
}

.elementor-17 .elementor-element.elementor-element-cbb7a22 {
    --lottie-container-width: 47%;
}

.elementor-17 .elementor-element.elementor-element-15cfa871 {
    text-align: center;
}

.elementor-17 .elementor-element.elementor-element-15cfa871 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 23px;
    font-weight: 500;
}

.elementor-17 .elementor-element.elementor-element-1d31d297 {
    text-align: center;
    color: #E9E6E6;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-17 .elementor-element.elementor-element-605a1a7c .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 15px 15px 15px 15px;
}

.elementor-17 .elementor-element.elementor-element-534a96c8>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
}

.elementor-17 .elementor-element.elementor-element-534a96c8>.elementor-element-populated,
.elementor-17 .elementor-element.elementor-element-534a96c8>.elementor-element-populated>.elementor-background-overlay,
.elementor-17 .elementor-element.elementor-element-534a96c8>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-17 .elementor-element.elementor-element-534a96c8>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-534a96c8>.elementor-element-populated>.elementor-widget-wrap {
    padding: 20px 0px 20px 30px;
}

.elementor-17 .elementor-element.elementor-element-4835e1ca {
    --lottie-container-width: 47%;
}

.elementor-17 .elementor-element.elementor-element-2a29d110 {
    text-align: center;
}

.elementor-17 .elementor-element.elementor-element-2a29d110 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 23px;
    font-weight: 500;
}

.elementor-17 .elementor-element.elementor-element-332cc66c {
    text-align: center;
    color: #E9E6E6;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-17 .elementor-element.elementor-element-3549ddf5 .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 15px 15px 15px 15px;
}

.elementor-17 .elementor-element.elementor-element-59415ad8>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
}

.elementor-17 .elementor-element.elementor-element-59415ad8>.elementor-element-populated,
.elementor-17 .elementor-element.elementor-element-59415ad8>.elementor-element-populated>.elementor-background-overlay,
.elementor-17 .elementor-element.elementor-element-59415ad8>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-17 .elementor-element.elementor-element-59415ad8>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-59415ad8>.elementor-element-populated>.elementor-widget-wrap {
    padding: 20px 0px 20px 30px;
}

.elementor-17 .elementor-element.elementor-element-76f9932e {
    --lottie-container-width: 47%;
}

.elementor-17 .elementor-element.elementor-element-5a44736d {
    text-align: center;
}

.elementor-17 .elementor-element.elementor-element-5a44736d .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 23px;
    font-weight: 500;
}

.elementor-17 .elementor-element.elementor-element-24b95634 {
    text-align: center;
    color: #E9E6E6;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-17 .elementor-element.elementor-element-2858b5ec .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 15px 15px 15px 15px;
}

.elementor-17 .elementor-element.elementor-element-437781f4>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
}

.elementor-17 .elementor-element.elementor-element-437781f4>.elementor-element-populated,
.elementor-17 .elementor-element.elementor-element-437781f4>.elementor-element-populated>.elementor-background-overlay,
.elementor-17 .elementor-element.elementor-element-437781f4>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-17 .elementor-element.elementor-element-437781f4>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-437781f4>.elementor-element-populated>.elementor-widget-wrap {
    padding: 20px 0px 20px 30px;
}

.elementor-17 .elementor-element.elementor-element-23106ab3 {
    --lottie-container-width: 47%;
}

.elementor-17 .elementor-element.elementor-element-78faa3c5 {
    text-align: center;
}

.elementor-17 .elementor-element.elementor-element-78faa3c5 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 23px;
    font-weight: 500;
}

.elementor-17 .elementor-element.elementor-element-4e6eaf7f {
    text-align: center;
    color: #E9E6E6;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-17 .elementor-element.elementor-element-1a77e46b .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 15px 15px 15px 15px;
}

.elementor-17 .elementor-element.elementor-element-30c137d9>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
}

.elementor-17 .elementor-element.elementor-element-30c137d9>.elementor-element-populated,
.elementor-17 .elementor-element.elementor-element-30c137d9>.elementor-element-populated>.elementor-background-overlay,
.elementor-17 .elementor-element.elementor-element-30c137d9>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-17 .elementor-element.elementor-element-30c137d9>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-30c137d9>.elementor-element-populated>.elementor-widget-wrap {
    padding: 20px 0px 20px 30px;
}

.elementor-17 .elementor-element.elementor-element-6da43cf1 {
    --lottie-container-width: 47%;
}

.elementor-17 .elementor-element.elementor-element-7ec958d5 {
    text-align: center;
}

.elementor-17 .elementor-element.elementor-element-7ec958d5 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 23px;
    font-weight: 500;
}

.elementor-17 .elementor-element.elementor-element-48db988d {
    text-align: center;
    color: #E9E6E6;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-17 .elementor-element.elementor-element-10f76423 .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 15px 15px 15px 15px;
}

.elementor-17 .elementor-element.elementor-element-2fd08eaf>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
}

.elementor-17 .elementor-element.elementor-element-2fd08eaf>.elementor-element-populated,
.elementor-17 .elementor-element.elementor-element-2fd08eaf>.elementor-element-populated>.elementor-background-overlay,
.elementor-17 .elementor-element.elementor-element-2fd08eaf>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-17 .elementor-element.elementor-element-2fd08eaf>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-2fd08eaf>.elementor-element-populated>.elementor-widget-wrap {
    padding: 20px 0px 20px 30px;
}

.elementor-17 .elementor-element.elementor-element-1659d027 {
    --lottie-container-width: 47%;
}

.elementor-17 .elementor-element.elementor-element-42b40af2 {
    text-align: center;
}

.elementor-17 .elementor-element.elementor-element-42b40af2 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 23px;
    font-weight: 500;
}

.elementor-17 .elementor-element.elementor-element-1706db6 {
    text-align: center;
    color: #E9E6E6;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-17 .elementor-element.elementor-element-6e971918 .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 15px 15px 15px 15px;
}

.elementor-17 .elementor-element.elementor-element-b63f633:not(.elementor-motion-effects-element-type-background),
.elementor-17 .elementor-element.elementor-element-b63f633>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-17 .elementor-element.elementor-element-b63f633 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px 0px 50px 0px;
}

.elementor-17 .elementor-element.elementor-element-b63f633>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-3f5a63e {
    text-align: center;
}

.elementor-17 .elementor-element.elementor-element-3f5a63e .elementor-heading-title {
    color: #5B5C5D;
    font-family: "Montserrat", Sans-serif;
    font-weight: 600;
}

.elementor-17 .elementor-element.elementor-element-70a77a28 {
    text-align: center;
}

.elementor-17 .elementor-element.elementor-element-70a77a28 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.3em;
}

.elementor-17 .elementor-element.elementor-element-7392050d .elementor-field-group {
    padding-right: calc( 10px/2);
    padding-left: calc( 10px/2);
    margin-bottom: 10px;
}

.elementor-17 .elementor-element.elementor-element-7392050d .elementor-form-fields-wrapper {
    margin-left: calc( -10px/2);
    margin-right: calc( -10px/2);
    margin-bottom: -10px;
}

.elementor-17 .elementor-element.elementor-element-7392050d .elementor-form-steps legend {
    padding-right: calc( 10px/2);
    padding-left: calc( 10px/2);
}

.elementor-17 .elementor-element.elementor-element-7392050d .elementor-form-steps .elementor-form-fields-wrapper {
    margin: 0;
}

.elementor-17 .elementor-element.elementor-element-7392050d .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-17 .elementor-element.elementor-element-7392050d .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-17 .elementor-element.elementor-element-7392050d .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-17 .elementor-element.elementor-element-7392050d .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-17 .elementor-element.elementor-element-7392050d .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

body.rtl .elementor-17 .elementor-element.elementor-element-7392050d .elementor-labels-inline .elementor-field-group>abbr {
    padding-left: 0px;
}

body:not(.rtl) .elementor-17 .elementor-element.elementor-element-7392050d .elementor-labels-inline .elementor-field-group>abbr {
    padding-right: 0px;
}

body .elementor-17 .elementor-element.elementor-element-7392050d .elementor-labels-above .elementor-field-group>abbr {
    padding-bottom: 0px;
}

.elementor-17 .elementor-element.elementor-element-7392050d .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-17 .elementor-element.elementor-element-7392050d .elementor-field-type-amount.elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    opacity: 1;
    flex-basis: 100%;
    max-width: 100%;
}

.elementor-17 .elementor-element.elementor-element-7392050d .elementor-field-group.elementor-field-type-amount {
    flex-direction: row;
}

.elementor-17 .elementor-element.elementor-element-7392050d .dce-signature-wrapper {
    --canvas-width: 400px;
}

.elementor-17 .elementor-element.elementor-element-7392050d .dce-signature-canvas {
    border-radius: 3px 3px 3px 3px;
    border-width: 1px 1px 1px 1px;
    background-color: #ffffff;
}

.elementor-17 .elementor-element.elementor-element-7392050d .elementor-field-label-description .elementor-field-label {
    display: inline-block;
}

.elementor-17 .elementor-element.elementor-element-7392050d .elementor-field-label-description:after {
    content: '?';
    display: inline-block;
    border-radius: 50%;
    padding: 2px 0;
    height: 1.2em;
    line-height: 1;
    font-size: 80%;
    width: 1.2em;
    text-align: center;
    margin-left: 0.2em;
    color: #ffffff;
    background-color: #777777;
}

.elementor-17 .elementor-element.elementor-element-7392050d .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #ffffff;
}

.elementor-17 .elementor-element.elementor-element-7392050d .elementor-field-group .elementor-select-wrapper select {
    background-color: #ffffff;
}

.elementor-17 .elementor-element.elementor-element-7392050d .elementor-field-group .elementor-select-wrapper .select2 {
    background-color: #ffffff;
}

.elementor-17 .elementor-element.elementor-element-7392050d .elementor-field-group .elementor-select-wrapper .select2 .elementor-field-textual {
    background-color: #ffffff;
}

.elementor-17 .elementor-element.elementor-element-7392050d .mce-panel {
    background-color: #ffffff;
}

.elementor-17 .elementor-element.elementor-element-7392050d .e-form__buttons__wrapper__button-next {
    background-color: #0059F7;
    color: #ffffff;
}

.elementor-17 .elementor-element.elementor-element-7392050d .elementor-button[type="submit"] {
    background-color: #0059F7;
    color: #ffffff;
}

.elementor-17 .elementor-element.elementor-element-7392050d .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-17 .elementor-element.elementor-element-7392050d .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-17 .elementor-element.elementor-element-7392050d .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-17 .elementor-element.elementor-element-7392050d .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-17 .elementor-element.elementor-element-7392050d .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-17 .elementor-element.elementor-element-7392050d .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-17 .elementor-element.elementor-element-7392050d {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-17 .elementor-element.elementor-element-7392050d>.elementor-widget-container {
    margin: 0px 350px 0px 350px;
}

@media(max-width:767px) {
    .elementor-17 .elementor-element.elementor-element-965124d {
        padding: 0px 0px 30px 0px;
    }
    .elementor-17 .elementor-element.elementor-element-1190579e {
        --spacer-size: 17px;
    }
    .elementor-17 .elementor-element.elementor-element-7c4b04b9 .elementor-heading-title {
        font-size: 38px;
    }
    .elementor-17 .elementor-element.elementor-element-66a5f8cb .elementor-heading-title {
        font-size: 20px;
        line-height: 1.7em;
    }
    .elementor-17 .elementor-element.elementor-element-66a5f8cb>.elementor-widget-container {
        margin: -21px 0px 0px 0px;
    }
    .elementor-17 .elementor-element.elementor-element-652a13c6 {
        --lottie-container-width: 77%;
    }
    .elementor-17 .elementor-element.elementor-element-274f686 .elementor-divider-separator {
        width: 24%;
    }
    .elementor-17 .elementor-element.elementor-element-290b3c01>.elementor-element-populated {
        margin: 10px 10px 10px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }
    .elementor-17 .elementor-element.elementor-element-290b3c01>.elementor-element-populated>.elementor-widget-wrap {
        padding: 20px 0px 20px 20px;
    }
    .elementor-17 .elementor-element.elementor-element-4968a953 .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-17 .elementor-element.elementor-element-689638e6 {
        font-size: 15px;
    }
    .elementor-17 .elementor-element.elementor-element-cdb88b2>.elementor-element-populated {
        margin: 10px 10px 10px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }
    .elementor-17 .elementor-element.elementor-element-cdb88b2>.elementor-element-populated>.elementor-widget-wrap {
        padding: 20px 0px 20px 20px;
    }
    .elementor-17 .elementor-element.elementor-element-33d09e79 {
        font-size: 15px;
    }
    .elementor-17 .elementor-element.elementor-element-7106465d>.elementor-element-populated {
        margin: 10px 10px 10px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }
    .elementor-17 .elementor-element.elementor-element-7106465d>.elementor-element-populated>.elementor-widget-wrap {
        padding: 20px 0px 20px 20px;
    }
    .elementor-17 .elementor-element.elementor-element-10b32913 .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-17 .elementor-element.elementor-element-520ed98a {
        font-size: 15px;
    }
    .elementor-17 .elementor-element.elementor-element-c4c84a>.elementor-element-populated {
        margin: 10px 10px 10px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }
    .elementor-17 .elementor-element.elementor-element-c4c84a>.elementor-element-populated>.elementor-widget-wrap {
        padding: 20px 0px 20px 20px;
    }
    .elementor-17 .elementor-element.elementor-element-5b37b025 .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-17 .elementor-element.elementor-element-2d436099 {
        font-size: 15px;
    }
    .elementor-17 .elementor-element.elementor-element-3569ba4a>.elementor-element-populated {
        margin: 10px 10px 10px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }
    .elementor-17 .elementor-element.elementor-element-3569ba4a>.elementor-element-populated>.elementor-widget-wrap {
        padding: 20px 0px 20px 20px;
    }
    .elementor-17 .elementor-element.elementor-element-15cfa871 .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-17 .elementor-element.elementor-element-1d31d297 {
        font-size: 15px;
    }
    .elementor-17 .elementor-element.elementor-element-534a96c8>.elementor-element-populated {
        margin: 10px 10px 10px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }
    .elementor-17 .elementor-element.elementor-element-534a96c8>.elementor-element-populated>.elementor-widget-wrap {
        padding: 20px 0px 20px 20px;
    }
    .elementor-17 .elementor-element.elementor-element-2a29d110 .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-17 .elementor-element.elementor-element-332cc66c {
        font-size: 15px;
    }
    .elementor-17 .elementor-element.elementor-element-59415ad8>.elementor-element-populated {
        margin: 10px 10px 10px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }
    .elementor-17 .elementor-element.elementor-element-59415ad8>.elementor-element-populated>.elementor-widget-wrap {
        padding: 20px 0px 20px 20px;
    }
    .elementor-17 .elementor-element.elementor-element-5a44736d .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-17 .elementor-element.elementor-element-24b95634 {
        font-size: 15px;
    }
    .elementor-17 .elementor-element.elementor-element-437781f4>.elementor-element-populated {
        margin: 10px 10px 10px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }
    .elementor-17 .elementor-element.elementor-element-437781f4>.elementor-element-populated>.elementor-widget-wrap {
        padding: 20px 0px 20px 20px;
    }
    .elementor-17 .elementor-element.elementor-element-78faa3c5 .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-17 .elementor-element.elementor-element-4e6eaf7f {
        font-size: 15px;
    }
    .elementor-17 .elementor-element.elementor-element-30c137d9>.elementor-element-populated {
        margin: 10px 10px 10px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }
    .elementor-17 .elementor-element.elementor-element-30c137d9>.elementor-element-populated>.elementor-widget-wrap {
        padding: 20px 0px 20px 20px;
    }
    .elementor-17 .elementor-element.elementor-element-7ec958d5 .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-17 .elementor-element.elementor-element-48db988d {
        font-size: 15px;
    }
    .elementor-17 .elementor-element.elementor-element-2fd08eaf>.elementor-element-populated {
        margin: 10px 10px 10px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }
    .elementor-17 .elementor-element.elementor-element-2fd08eaf>.elementor-element-populated>.elementor-widget-wrap {
        padding: 20px 0px 20px 20px;
    }
    .elementor-17 .elementor-element.elementor-element-42b40af2 .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-17 .elementor-element.elementor-element-1706db6 {
        font-size: 15px;
    }
    .elementor-17 .elementor-element.elementor-element-3f5a63e .elementor-heading-title {
        font-size: 24px;
    }
    .elementor-17 .elementor-element.elementor-element-70a77a28 .elementor-heading-title {
        font-size: 22px;
    }
    .elementor-17 .elementor-element.elementor-element-7392050d>.elementor-widget-container {
        margin: 0px 50px 0px 50px;
        padding: 0px 0px 0px 0px;
    }
}